.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.tab-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tab-content>.active {
  display: flex;
  flex-direction: column;
}

.tab-pane {
  height: 100%;
  flex-grow: 1;
}

.editor, .outputs {
  height: 100vh;
}
/*.editor .row {*/
.active>.row {
  display: flex;
  flex-grow: 1;
  height: 100%;
}
.editor .projects-toolbar {
  height: auto;
  flex-grow: 0;
}

.editor .code-column {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.code {
  min-height: 480px;
  flex-grow: 1;
}

.files-column, .machines-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.files-column .files, .machines-column .machines {
  flex-grow: 1;
}

.files {
  overflow: auto;
}

.files:hover {
    width: 50vw;
    position: relative;
    z-index: 1000;
    background: #fff;
}

.file:hover {
  color: #0085ff;
  cursor: pointer;
}

.files-title, .machines-title, .aws-instances-title {
  font-style: italic;
}

.file-title {
  margin-top: 8px;
  margin-bottom: 8px;
}

.file-rename, .file-remove, .project-title-rename {
  font-size: 80%;
  margin-left:12px;
}

.file-rename:hover, .file-remove:hover {
  color: #0085ff;
  cursor: pointer;
}

.aws-instances {
  overflow: scroll;
  clear:both;
}

.aws-instance {
  border: 1px solid;
  margin-bottom: 16px;
  padding: 4px;
}

.aws-instances-refresh {
  float: right;
}

.client-control {
  border: 1px solid;
  margin-bottom: 16px;
  padding: 4px;
  overflow: hidden;
}

.client-control .client-id {
  white-space: nowrap;
}

.client-control.selected {
  border: 2px solid red;
  padding: 3px;
}

.client-control pre {
  height: 40px;
  width: 50%;
  display: inline-block;
  font-size: 2px;
  padding: 4px;
  vertical-align: top;
}

.clear-stdout, .clear-stderr {
  font-size: 70%;
  color: #aaa;
}

.settings {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
}

.overlay > div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  width: 50%;
  height: 50%;
}

.project-title {
  display: inline-block;
  margin: 5px;
}

.CodeMirror {
  box-shadow: 0px 5px 13px rgba(0,0,0,0.5);
}
